
@font-face {
    font-family: Peddana-Regular;
    src: url(../../fonts/Peddana/Peddana-Regular.ttf);
}
@font-face {
    font-family: Merriweather-Regular;
    src: url(../../fonts/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
    font-family: Merriweather-Light;
    src: url(../../fonts/Merriweather/Merriweather-Light.ttf);
}
@font-face {
    font-family: Merriweather-LightItalic;
    src: url(../../fonts/Merriweather/Merriweather-LightItalic.ttf);
}
@font-face {
    font-family: Merriweather-Bold;
    src: url(../../fonts/Merriweather/Merriweather-Bold.ttf);
}
@font-face {
    font-family: Merriweather-Black;
    src: url(../../fonts/Merriweather/Merriweather-Black.ttf);
}
@font-face {
    font-family: Livvic-Regular;
    src: url(../../fonts/Livvic/Livvic-Regular.ttf);
}
@font-face {
    font-family:Livvic-SemiBold;
    src: url(../../fonts/Livvic/Livvic-SemiBold.ttf);
}
@font-face {
    font-family: Livvic-Bold;
    src: url(../../fonts/Livvic/Livvic-Bold.ttf);
}
