// Colors
$clr1: #f6f6f6;
$clr2: #313131;
$clr3: #f0f0f0;
$clr4: #e4e4e4;
$clr5: #ee7e7a;
$clr6: #972337;
$clr7: #607630;
$clr8: #bbbbbb;
$clr9: #d6c45f;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;